h1{
    font-family:times new roman;
    font-size: 50px;
    text-align: center;
    color:red;
    padding-top:30px;
}
table{
    border:3px groove brown;
    margin:50px auto;
}
td{
    height:70px;
    width:65px;
    padding:4px 5px;
}
#white{
    background:white;
}
#black{
    background:black;
}

