*{
    margin:0px;
    padding:0px;
}
:root{
    /*USING VARIABLE METHOD*/
    --primarycol:rgb(254, 35, 43);              
    --textcolor:rgb(245, 238, 238);
    --secondarycol:rgb(204, 226, 231);
}
body{
    background-color:var(--secondarycol);
}
nav{
    background-color:var(--primarycol);
    padding:13px;
    font-family: 'Poppins', sans-serif
}
ul li {
    list-style:none;
    display:inline;
    padding:23px;
    font-weight:650px;
    color:var(--textcolor);

}
a{
    text-decoration:none;
    color:var(--textcolor);
}
p{
    padding:9px 20px;
    font-size:20px;
}
h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
}